<footer class="footer-home">
  <h4>Follow them in the Official Website</h4>
    <div class="band-logo-footer-container">
      <a href="http://www.thebeatles.com/"><img class="logo-bands" src="http://masquevinilo.com/4992-thickbox_default/vinilo-decorativo-the-beatles.jpg" alt="Logo The beatles"></a>
      <a href="http://www.queenonline.com/"><img class="logo-bands" src="https://upload.wikimedia.org/wikipedia/commons/7/74/Queen_Logo.png" alt="Logo Queen"></a>
      <a href="http://www.rollingstones.com/"><img class="logo-bands" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Rolling_Stone_logo.svg" alt="Logo The Rolling Stones"></a>
    </div>
  <h5> © 2017 by Escandia Camargo. Proudly created in angular.</h5>
</footer>
