<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Beatles were an English rock band formed in Liverpool in 1960.
    With members John Lennon, Paul McCartney, George Harrison and Ringo Starr, they became widely regarded
    as the foremost and most influential act of the rock era.[1] Rooted in skiffle, beat and 1950s rock and
    roll, the Beatles later experimented with several musical styles, ranging from pop ballads and Indian
    music to psychedelia and hard rock, often incorporating classical elements and unconventional recording
    techniques in innovative ways. ">
     <meta name="keywords" content="BeatlesEnglish rock band Liverpool John Lennon Paul McCartney George Harrison Ringo Star">
     <meta name="author" content="escandia camargo">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatles</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt" rel="stylesheet">
  </head>
  <body>
      <div class="bcg-style">
        <app-header></app-header>
          <div class="container-video">
            <h2>Beatles</h2>
            <h3>'In my life' named greatest song ever written</h3>
            <div class="container-video-items">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/-eCh3y5VROM" frameborder="0" allowfullscreen></iframe>
              <p>
                -A group of legendary songwriters has named the Beatles' "In My Life" the greatest song ever written.
                 "In My Life" is about all kinds of people, "some are dead and some are living",
                there's "lovers and friends I still can recall".-
              </p>
            </div>
          </div>
        <app-footer></app-footer>
      </div>
  </body>
</html>
